@import url(https://fonts.googleapis.com/css2?family=Open+Sans|Roboto:wght@700&display=swap);

* :root {
    --primary-color: #373f42;
    --secondary-color: #3A3742;
    --accent1-color: #6c3082;
    --accent2-color: #645E6E;
    --heading-font:'roboto', serif;
    --paragraph-color: '#645E6E;' serif;

    --nav-background-color: #373f42;
    --nav-link-color: #3A3742;
    --nav-hover-link-color: #6c3082;
    --nav-hover-background-color: #645E6E;
}

body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

h1 {
    color: var(--accent1-color);
}

p {
    color: var(--primary-color);
}

nav a[href^="https://"] {
    text-decoration: none;
    color: var(--accent2-color);
}

nav a[href^="https://"]:hover {
    text-decoration: underline;
}

.hero {
    position: relative;
    overflow: hidden;
    margin-bottom: 20px;
}

.hero img {
    display: block;
    width: 100%;
    height: auto;
}

.hero h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 10px;
    color: var(--accent1-color);
}

.hero article {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background-color: rgba(0, 0, 0, 0.7);
    color: var(--primary-color);
    padding: 20px;
    max-width: 50%;
}

.hero article img {
    float: right;
    margin-left: 20px;
}

.image-container {
    position: relative;
    width: 100%;
    max-width: 700px; /* Adjust maximum width as per your design */
    margin: 0 auto; /* Center align the container */
}

.image-container img {
    display: block;
    width: 100%;
    height: auto;
}

.image-overlay {
    position: absolute;
    bottom: 20px; /* Adjust vertical position from the bottom */
    left: 20px; /* Adjust horizontal position from the left */
    background-color: rgba(255, 255, 255, 0.8); /* Semi-transparent white background */
    padding: 20px;
    max-width: calc(100% - 40px); /* Adjust maximum width of overlay */
}

.image-overlay h2 {
    color: #6c3082;
    font-size: 24px;
    margin-bottom: 10px;
}

.image-overlay p {
    color: #373f42;
    font-size: 16px;
    line-height: 1.6;
}
