@import url(https://fonts.googleapis.com/css2?family=Open+Sans|Roboto:wght@700&display=swap);

body {
    font-family: var(Roboto);
    max-width: 960px;
    padding: 20px;
}
:root {
    --primary-color: #373f42;
    --secondary-color: #3A3742;
    --accent1-color: #6c3082;
    --accent2-color: #645E6E

    --heading-font:'roboto', serif;
    --paragraph-color: '#645E6E;' serif;

    --nav-background-color: #373f42;
    --nav-link-color: #3A3742;
    --nav-hover-link-color: #6c3082;
    --nav-hover-background-color: #645E6E;
}
body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
    font-family: var(--heading-font);
    color: var(--accent2-color);

}

header {
    padding: 20px;
    background-color: #645E6E;
}

p {
    padding: 25px;
}

nav {
    background-color: var(--nav-background-color);
    font-size: 1.2rem;
    display: flex;
}
nav a {
    display: block;
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 1rem;
}

nav a:link, nav a:visited {
    color: var(--nav-link-color);
}

nav a:hover {
    color: var(--nav-hover-link-color);
    background-color: var(--nav-hover-background-color);